</html><!-----COMMON CSS SECTION----->
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-outline: 0;
	font-family: Roboto, sans-serif, arial;
}
html, body 
	{
	font-size: 14px;
	font-weight: 400;
	background: #000000;
	color: #fff;
}
.container {
	width: 1100px;
	margin: 0px auto;
	display: table;
}
.width-33 {
	width: 33%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
}
/*****MENU SECTION*****/
.main-panel {
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
	height: 100vh;
}

.logo {
	font-size: 40px;
	font-weight: 600;
}

.span-col {
	color: #ffbf35;
}

nav {
	float: right;
}

nav a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: white;
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
	.width-33, .width-66 {
		width: 100%;
		float: none;
	}
	.logo {
		text-align: center;
	}
	nav {
		text-align: center;
	}
	nav a {
		display: block;
		margin: 10px 0;
	}
}
/*****Main BANNER*****/
.width-50 {
	float: left;
	width: 50%;
}
.banner-section {
	width: 100%;
	float: left;
	margin-top: 25vh;
}
.banner-section h1 {
	font-size: 48px;
	margin-top: 10px;
	font-weight: bolder;
}
.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
}
.banner-section a {
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #ffbf35;
	color: #ffbf35;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}
.banner-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
/*****Main BANNER IMAGE*****/
.main-panel img {
	margin-top: 10%;
	width: 100%;
	margin-left: 10%;
}


/*****FOOTER SECTION*****/
.footer {
	background-color: #020000;
	padding: 20px 0px 40px 0px;
	width: 100%;
	float: left;
}
.footer-sect {
	color: #b3b3b3;
}
.footer-sect a {
	color: #b3b3b3;
	margin-left: 10px;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}
.social-icon a i {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	line-height: 50px;
	font-size: 20px;
	border-radius: 50%;
}

.download-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin-top: 20px;
  }
  
  .btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #281f8e;
	color: rgb(15, 2, 2);
	text-decoration: none;
	box-shadow: 0 0 30px rgba(56, 11, 203, 1.5);
	transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .btn:hover {
	background-color: #d00a46;
	box-shadow: 0 0 20px rgba(243, 13, 13, 0.5);
  }
  
  .btn:active {
	background-color: #16f3dc;
	box-shadow: 0 0 10px rgba(23, 214, 207, 1.5);
  }
